/* ----- Alarm List ----- */
.ui-page .ui-footer.ui-bottom-button {
    position: relative !important;
    height: 100px;
    overflow: hidden;
}

.ui-toggleswitch .ui-switch-activation::after, .ui-toggleswitch .ui-switch-button::after {
    -webkit-mask-image: url(../image/alarm_list_icon.png);
}

.ui-toggleswitch .ui-switch-activation::before, .ui-toggleswitch .ui-switch-button::before {
    -webkit-mask-image: url(../image/alarm_list_icon.png);
}

.ui-listview .li-has-toggle .ui-toggleswitch {
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
}

.ui-listview .li-has-multiline .alarm-list {
    position: absolute;
    width: 230px;
    height: 87px;
    top: 10.5px;
    left: 30px;
}

.ui-listview .li-has-multiline .alarm-list .time-container {
    display: block;
    width: 230px;
    height: 55px;
    line-height: 55px;
}

.ui-listview .li-has-multiline .alarm-list .date-container {
    display: block;
    width: 230px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
}

.ui-listview .li-has-multiline .alarm-list .time-container .time {
    font-size: 42px;
}

.ui-listview .li-has-multiline .alarm-list .time-container .ampm {
    font-size: 36px;
}

.ui-listview .li-has-multiline .alarm-list .date-container .normal{
    color: rgba(179,179,179,1);
}

.ui-listview .li-has-multiline .alarm-list .date-container .select{
    color: rgba(18,180,255,1);
}

/* ----- SECTION CHANGER ----- */
.ui-content section {
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
}

#pageIndicatorCirclePage section h3 {
    margin-top: 140px;
}

/* ----- ALARM SET PAGE STYLE ('alarm-set-page') ----- */
.ui-bottom-button .ui-btn::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url("image/tw_list_add_holo_dark.png");
}

#sectionchanger-newalarm > div > section {
    text-align: center;
    overflow: hidden;
}

.set-time-unit {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: rgba(250, 250, 250, 1);
}

.set-time-unit-min {
    margin-left: 82px;
}

.set-time {
    margin: 0;
    font-size: 72px;
    color: rgba(250, 250, 250, 1);
}

.set-time-hour {
    margin-right: 15px;
}

.set-time-min {
    margin-left: 15px;
}

.repeat-toggle {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 65px;
    background-image: url('../image/alarm_repeat_bg.png');
    margin: 0;
    margin-left: 13px;
    font-weight: 600;
    float: left;
    color: rgba(250, 250, 250, 1);
}

#repeat1 {
    margin-left: 31px;
    color: rgba(255, 50, 36, 1);
}

#repeat5 {
    margin-left: 70px;
}

#repeat5, #repeat6, #repeat7 {
    margin-top: 3px;
}

/* ---------------------------------- LISTVIEW ---------------------------------- */
.ui-listview li .li-text-sub {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 32px;
}

.ui-listview .li-text-sub-right-icon {
    width: calc(100% - 34px);
}

.ui-listview li.li-has-2line {
    padding-top: 18px;
    padding-bottom: 17px;
    height: 115px;
}

.ui-listview li.li-has-3line {
    padding-top: 9px;
    padding-bottom: 10px;
    height: 128px;
}

.ui-listview.expand-list li.li-has-2line .ui-marquee {
    -webkit-transform: translate(0, 16px);
}

.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all ease 1s;
    margin-top: 0;
}

.ui-listview.expand-list li.li-has-2line .ui-li-sub-text {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-li-sub-text {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-marquee {
    -webkit-transform: translate(0, 30px);
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2) {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2) {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child {
    -webkit-transform: translate(0, -42px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview li.li-has-multiline {
    padding-top: 6px;
    padding-bottom: 5px;
    min-height: 100px;
}

.ui-listview.ui-snap-listview li.li-has-multiline {
    padding-top: 17px;
    padding-bottom: 17px;
    min-height: 108px;
    line-height: normal;
}

.ui-listview li.li-has-radio.disabled,
.ui-listview li.li-has-radio.disabled > *,
.ui-listview li.li-has-checkbox.disabled,
.ui-listview li.li-has-checkbox.disabled > *,
.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > *,
.ui-listview li.li-has-multiline-sup.disabled,
.ui-listview li.li-has-multiline-sup.disabled > * {
    color: rgb(51, 51, 51);
}

.ui-listview li.li-has-multiline > a {
    margin-top: -6px;
    margin-bottom: -6px;
    padding-top: 11px;
    padding-bottom: 12px;
}

.ui-listview li.li-has-multiline-sup {
    padding-top: 6px;
    padding-bottom: 5px;
    min-height: 100px;
}

.ui-listview li.li-has-multiline-sup > a {
    margin-top: -36px;
    margin-bottom: -5px;
    padding-top: 36px;
    padding-bottom: 5px;
}

.ui-listview li {
    position: relative;
}

.ui-listview li input[type="checkbox"]:not(.ui-switch-input),
.ui-listview li input[type="radio"] {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
}

.ui-listview .li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled .li-text-sub,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled .li-text-sub {
    color: rgb(51, 51, 51);
}

.ui-listview li.li-has-checkbox label,
.ui-listview li.li-has-radio label,
.ui-listview li.li-has-toggle > label {
    display: block;
    padding: 31.5px 94px 31.5px 40px;
    margin-top: -30px;
    margin-bottom: -21px;
    margin-left: -38px;
    margin-right: -8px;
}

.ui-listview li.li-has-thumb-left {
    padding-left: 88px;
}

.ui-listview li.li-has-thumb-right {
    padding-right: 88px;
}

.ui-listview.ui-snap-listview li.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-toggle > label,
.ui-listview.ui-snap-listview li.li-has-thumb-right{
    padding: 27px 94px 21px 40px;
}

.ui-listview.ui-snap-listview li.li-has-thumb-left{
    padding: 27px 40px 21px 102px;
}

.ui-listview li img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    width: 56px;
    height: 56px;
    background-color: rgba(245, 245, 245, 1);
}

.ui-listview li.li-has-thumb-right img,
.ui-listview li.li-has-thumb-left img {
    border-radius: 50%;
}
.ui-listview li.li-has-thumb-right img {
    right: 16px;
}

.ui-listview li.li-has-thumb-left img {
    left: 16px;
}

.ui-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview li.li-has-multiline.li-has-radio label,
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
    display: block;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 90px;
    padding-top: 11px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -16px;
    margin-right: -16px;
}

.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
    padding-right: 104px;
}

.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch),
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-right,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-left {
    padding-top: 27px;
}

.ui-listview li.li-has-multiline.li-has-thumb-left {
    padding-left: 88px;
    padding-right: 30px;
    margin-left: 0;
}

.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
    padding-right: 75px;
}

.select-btn {
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -50px;

    height: 75px;
    width: 100px;
    line-height: 75px;
    border-radius: 40px;

    text-align: center;
    background-color: rgb(8, 56, 94);
    box-shadow: 0 3px 4px rgb(17, 17, 17);
    z-index: 90;
}

.select-btn-text {
    display: block;
    height: 100%;
    line-height: 60px;
    background: url(../contents/list/images/tw_list_number_icon.png) no-repeat 50% 100%;
}

.ui-listview li.select {
    background-color: rgb(8, 42, 57);
}

li.static::before {
    content:"";
    -webkit-mask-image: url(../contents/list/images/tw_list_check_ic.png);
    -webkit-mask-repeat: no-repeat;
    background-color: rgba(112, 186, 15, 1);
    width: 0;
    height: 56px;
    position: absolute;
    left: 40%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 150ms, left 150ms;
}

.ui-listview-li li img {
    height: 56px;
    width: 56px;
    background-color: rgb(8, 42, 57);
}